.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**
setup.sh
.prettierrc
.prettierignore
example/**
esbuild.config.js
dist/**
node_modules/**
